.filter-form {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    width: 260px;
}

.filter-form input,
.filter-form button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-form button {
    background-color: #2196f3;
    color: white;
    cursor: pointer;
}

.filter-form button:hover {
    background-color: #1976d2;
}

.filter-field {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
}

.filter-form label{
	justify-content: left;
	display: flex;
	padding: 12px 0;
    padding-bottom: 6px;
	border: none;
	font-size: 1.2rem;
}