.form-container{
	padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.form{
    position: relative;
    width: 600px;
    padding: 30px 110px;
    background: rgb(183, 207, 226);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
	animation: fadeIn 0.5s ease;
}


@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.form h1 {
    font-size: 1.8rem;
	margin-bottom: 24px;
	color: #333;
	border-bottom: 2px solid #e0e0e0;
	padding-bottom: 12px;
}

.form label{
	justify-content: left;
	display: flex;
	padding: 24px;
	padding-bottom: 0;
	border: none;
	font-size: 1.2rem;
}

.form select, .form input{
	width: 90%;
	margin: 20px 30px;
	padding: 12px 16px;
	font-size: 1rem;
	border: 2px solid black;
	border-radius: 15px;
	background: transparent;
	transition: border-color 0.3s;
}

.form input{
	width: 84%;
}

.form .date-picker{
	margin: 20px 30px;
}

.add-button{
	width: 91%;
	padding: 14px;
	background-color: #1e94cb;
	color: white;
	margin: 20px 30px;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 10px;
}

.form textarea {
	width: 86%;
    min-height: 150px;
    padding: 14px;
	margin: 20px 30px;
    font-size: 1rem;
    font-family: inherit;
    border: 1px solid #bbb;
    border-radius: 10px;
    background-color: #f4f4f4;
    resize: none;
    margin-top: 10px;
    color: #333;
	resize: vertical;
  }

.closeForm-button{
	position: absolute;
    top: 45px;
    left: 30px;
    border-radius: 10px;

    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.closeForm-button:hover{
	background-color: #f1f9ff;
    transform: scale(1.05);
}