#loginPage{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0b62a9, #1e94cb, #1e4cb1);
}
#loginForm{
    display: flex;
    flex-direction: column;
	width: 350px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 5px 20px 50px  #000;
}

#loginForm h1 {
    display: flex;
    justify-content: center;
    color: rgb(199, 222, 233)
}

#loginPage input{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	border-radius: 5px;
}

#loginPage button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #0855b9;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
#loginPage button:hover{
	background: #186484;
}