.detailCard-container {
    position: fixed;
    /* Quan trọng để form overlay lên trang */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.detailCard {
    position: relative;
    margin: 40px auto;
    width: 600px;
    padding: 30px 110px;
    background: rgb(183, 207, 226);
    border-radius: 20px;
    box-shadow: 5px 20px 50px #000;
}

.detailCard h1 {
    width: 100%;
    border-bottom: 2px solid;
}


.info-section {
    padding: 40px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid;
}

.info-section p {
    margin: 30px 0;
    font-size: 20px;
}

.readonly-textarea {
    width: 100%;
    min-height: 150px;
    padding: 10px;
    font-size: 1rem;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.close-button {
    position: absolute;
    top: 45px;
    left: 30px;
    border-radius: 10px;

    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

.detailCard-actions {
    display: flex;
    margin: 40px 0px;
    justify-content: space-between;
    width: 100%;
}

.right-action,
.left-action {
    display: flex;
    gap: 10px
}

.left-action button , .right-action button {
    padding: 8px 16px;
    border: 1px solid #999;
    background-color: rgb(78, 121, 197);
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s;
}

#deny-button, #cancel-button {
    background-color: rgb(221, 36, 36);
}

button:hover, #deny-button:hover {
    background-color: whitesmoke;
} 